<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019530197175-si766l3gnin32f17j6o167tmikhgrrv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019530197175-si766l3gnin32f17j6o167tmikhgrrv2</string>
	<key>API_KEY</key>
	<string>AIzaSyANd5xIJayYbbY4WZeVOEteZGMHReMtjQc</string>
	<key>GCM_SENDER_ID</key>
	<string>1019530197175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeojin.SeSAC.One-Percent</string>
	<key>PROJECT_ID</key>
	<string>sesac2-4c8ed</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac2-4c8ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019530197175:ios:17faefa7b4e4ce4fc0b532</string>
</dict>
</plist>